@handler SelfHost.GetCookies
<!DOCTYPE html>
<html>
<head>
	<title>Cookies</title>
	<link rel="Stylesheet" href="Styles/default.css" type="text/css" />
</head>
<body>
	<h1>Cookies value</h1>
	<div>
		<p>@Handler.ASampleCookieValue</p>
		<form action="/addcookie" method="post">
			<input id="cookievalue" name="cookievalue" value="my_cookie" type="text" />
			<input type="submit" value="Set" />
		</form>
	</div>
</body>
</html>
