<!DOCTYPE html>
<html>
    <head>
        <title>Sections Layout Page</title>
    </head>
    <body>
        <h1>Section Two - Once</h1>
        @RenderSection("Two", required: true)
        <p>@RenderBody()</p>
        <h1>Section Two - Twice</h1>
        @RenderSection("Two", required: true)
    </body>
</html>