obj
bin
deploy
*.csproj.user
*.csproj.*.user
*.suo
*.cache
*.nupkg
~$*
*~
*ReSharper*
*.swp
*.testsettings
TestResults/*
*.dbmdl
Releases/2*
*.pidb
*.docstates
test-results
apply_config.bat
NDependOut
*.dotCover
*_mm_cache.bin
Simple.Data.sln.DotSettings.user
Simple.Data/Simple.Data.idc
.DS_Store
mono-release-*
Simple.Web.sln.DotSettings.user
test
test*ml
build
*.ncrunchproject
Simple.Web.ncrunchsolution.user
docs
*.ndproj
nohup.out
*.Tests.dll.xml
*.DotSettings
src/CommonAssemblyInfo.cs
Gemfile.lock
results
nuget
src/packages/*
!src/packages/repositories.config
artifacts
*.ncrunchsolution
