obj
bin
build
artifacts
deploy
docs
nuget
src/CommonAssemblyInfo.cs
src/packages/*
!src/packages/repositories.config

*.csproj.user
*.csproj.*.user
*.suo
*.cache
*.nupkg

~$*
*~

*.swp
*.dbmdl
*.pidb
*.docstates
*.testsettings
*_mm_cache.bin
.DS_Store

apply_config.bat
nohup.out
Gemfile.lock

TestResults/*
test
results
test-results
test*ml
*.Tests.dll.xml

Releases/2*
mono-release-*

*ReSharper*
*.DotSettings.*
*.dotCover

*.ncrunchsolution*
*.ncrunchproject

NDependOut
*.ndproj