<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="webPages:Enabled" value="false" />
    <add key="ViewCache:Enabled" value="false" />
    <add key="ViewPath:Value" value="Views" />
    <add key="ViewRecursiveDiscovery:Enabled" value="true" />
  </appSettings>
</configuration>
