<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@Var.Title</title>
</head>
<body>
<h1>@Var.Title</h1>
<form action="/submit" method="POST"><input type="text" name="Text" /><input type="submit" /></form>
</body>
</html>