@model Sandbox.Models.Form

<!DOCTYPE html>

<html>
    <head>
        <title>Submitted</title>
    </head>
    <body>
        <div>
            <p>Let's stick a big paragraph up here...</p>
            <h1>@Model.Text</h1>
        </div>
    </body>
</html>
