@handler SelfHost.Index

<!DOCTYPE html>
<html>
    <head>
        <title>Simple.Web @Handler.Title</title>
		<link rel="Stylesheet" href="Styles/default.css" type="text/css" />
    </head>
    <body>
		<h1>Simple.Web self-hosting on Firefly</h1>
		<div>
			<p id="greeting">Hello, world!</p>
		</div>
		<div>
			<a href="/raw/with+template">A sample of outputing raw HTML from a handler, plus templated input</a><br/>
			<a href="/form">Simple form, POSTs it's username to the raw sample</a><br/>
			<a href="/fail">A handler that crashes</a><br/>
			<a href="/md5">Upload a file and get its MD5 hash</a>
		</div>
        <script type="text/javascript" src="/Scripts/Test.js"></script>
    </body>
</html>