@handler SelfHost.Index

<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
		<link rel="Stylesheet" href="Styles/default.css" type="text/css" />
    </head>
    <body>
		<h1>Yo!</h1>
		<div>
			<p id="greeting">sup, dawg?</p>
		</div>
        <script type="text/javascript" src="/Scripts/Test.js"></script>
    </body>
</html>