@handler SimplestWeb.Index

<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
		<link rel="Stylesheet" href="Styles/default.css" type="text/css" />
    </head>
    <body>
		<div>
			<p>Yo, sup?</p>
		</div>
    </body>
</html>