@handler SimplestWeb.Index

<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
		<link rel="Stylesheet" href="Styles/default.css" type="text/css" />
    </head>
    <body>
		<h1>Yo!</h1>
		<div>
			<p>sup, dawg?</p>
		</div>
    </body>
</html>