@model Sandbox.Model

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>
              This has a model.
        </div>
    </body>
</html>