@handler Simple.Web.Razor.Tests.TestHandler
@model Simple.Web.Razor.Tests.TestModel

<!DOCTYPE html>
<html>
	<head>
		<title>Test</title>
	</head>
	<body>
	    <p>@Handler.Text</p>
	</body>
</html>