<?xml version="1.0"?>
<configuration>
  <configSections />
  <appSettings>
    <add key="webPages:Enabled" value="false" />
    <add key="ViewCache:Enabled" value="false" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="Fix.AspNet" type="Fix.AspNet.FixHttpHandler" path="*" verb="*"/>
    </handlers>
  </system.webServer>
</configuration>
