body {
	background-color: #eee;
	font-family: Sans-Serif;
	font-size: 9pt;
}
@media (min-width: 480px) { body{font-size: 12pt;} }
@media (min-width: 600px) { body{font-size: 16pt;} }
@media (min-width: 800px) { body{font-size: 18pt;} }
@media (min-width: 1024px) { body{font-size: 20pt;} }

h1 {
	font-size: 120%;
}