<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Owin-mono" version="2.0.0-rtw-20815-004" targetFramework="net40" />
  <package id="Microsoft.Owin.Diagnostics-mono" version="2.0.0-rtw-20815-004" targetFramework="net40" />
  <package id="Microsoft.Owin.Hosting-mono" version="2.0.0-rtw-20815-004" targetFramework="net40" />
  <package id="Owin" version="1.0" targetFramework="net40" />
</packages>